.projects-section {
    padding: 0 8rem;
    min-height:80vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction:column;
    gap: 2rem;
    margin-bottom: 2rem;
  }
h2{
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom:10px;

}
p{
  font-size: 18px;
  margin-bottom: 10px;
  
}
/* 
  .figureProjects{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
  } */

  .imgFigure{
    height:280px;
    width:30%;
  }
  
  @media (max-width: 770px) {
    .projects-section {
      padding: 0 2rem;
    }
  }
  
  .projects-section > h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  /* .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8rem;
  } */
  
  @media (max-width: 770px) {
    /* .projects-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    } */
  }

  .projectsH1{
    font-size: 3.5rem;
    background: linear-gradient(to right, #9845e8 0%, #33d2ff 50%, #dd5789 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media screen and (width<600px){
    .imgFigure{
      height:280px;
      width: 100%;
    }
  }

 
  