header{
    height: 10vh;
    width:100%;
    background-color: #0a0824;
    color:#cff32b;

}

.logo{
    display:flex;
    height:60px;
}

.socialMedia1{
    display:flex;
    justify-content: space-around;

}