@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-dark: whitesmoke;
  --bg-dark: #111111;
  --primary-light: #111111;
  --bg-light: whitesmoke;
  --highlight: #6cace4;
  --divider: rgb(164, 164, 164);

  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
}

.custom-btn.active {
  background-color: #007bff;
  color: white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  color: var(--primary-dark);
  transition: all 0.5s ease-in-out;
}

.light {
  background-color: var(--bg-light);
  color: var(--primary-light);
}

main {
  min-height: 80vh;
  align-items: center;
}

a,
p {
  font-size: 1.1rem;
}

.All-btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}

.custom-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn .icon {
  font-size: 1.2rem;
}

.custom-btn:hover {
  background-color: var(--highlight);
  color: #111;
}

.custom-btn.active {
  background-color: var(--highlight);
  color: #111;
}

.All-btn button {
  background: none;
  border: none;
  color: inherit;
  transform: scale(1.5);
  justify-content: center;
  margin-left: 6rem;
}
/* Media queries for smaller screens */
@media (max-width: 768px) {
  .custom-btn {
    font-size: 0.8rem; /* Smaller font size for buttons on smaller screens */
  }
  
  .custom-btn .icon {
    font-size: 1rem; /* Smaller icon size for smaller screens */
  }
  
  .All-btn button {
    transform: scale(1); /* Remove scaling on smaller screens */
    margin-left: 0; /* Remove margin on smaller screens */
  }
}